{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'registration/login.css'%}">
    <link rel="stylesheet" href="{%static 'core/core.css'%}">
    <title>Log In</title>
    
</head>
<body>
    <div id="box">
        <h3 id="box-title">Login</h3>
        <div id="box-contents">
            <p>Username</p>
            <input type="text" id="username-textbox" name="username-textbox"/>
            <p>Password</p>
            <input type="text" id="password-textbox" name="password-textbox"/>
            <button type="submit" id="login-button">Log In</button> 
        <div>
    </div>
</body>
</html>