{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'registration/login.css'%}">
    <link rel="stylesheet" href="{%static 'core/core.css'%}">
    <title>Log In</title>
    
</head>
<body>
    <div id="box">
        <h3 id="box-title">Login</h3>
        <div id="box-contents">
            <h2>Account Activated Successfully!</h2>
            <p>Your account has been activated, click here to log in!
        <div>
    </div>
</body>
</html>