{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'registration/login.css'%}">
    <link rel="stylesheet" href="{%static 'core/core.css'%}">
    <title>Activate your account</title>
    
</head>
<body>
    <div id="box">
        {% if activation_key_error %}
        <p>Invalid activation link! It may have expired or already been used</p>
        {% else %}
        <p>Your account has been successfully activated! You can now login here</p>
        {%endif%}
        <div>
    </div>
</body>
</html>